<!--
  Generated template for the NewReportPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>New Report</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <new-report (newReportResult)="reportResult($event)"></new-report>
</ion-content>
