<div *ngIf="authenticadedUser">
  <ion-card>
    <img src="{{ profile.avatar || 'assets/img/profile-placeholder.png' }}" alt="No avatar"/>

    <ion-card-content>

      <ion-item>
        <ion-label>Please choose the profile photo</ion-label>
      </ion-item>

      <ion-item>
        <input type="file" (change)="getFileSelected($event)">
      </ion-item>

      <ion-item>
        <ion-label floating>Name</ion-label>
        <ion-input [(ngModel)]="profile.name" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Surname</ion-label>
        <ion-input [(ngModel)]="profile.surname" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input [(ngModel)]="profile.email" type="text"></ion-input>
      </ion-item>

    </ion-card-content>
    <ion-item>
      <ion-buttons right>
        <button ion-button color="primary" clear small icon-start (click)="cancel()">
        <ion-icon name="close"></ion-icon>
        Cancel
      </button>
        <button ion-button color="primary" clear small icon-start (click)="saveProfile()">
        <ion-icon name="done-all"></ion-icon>
        Save
      </button>
      </ion-buttons>
    </ion-item>
  </ion-card>
</div>