<ion-list>
  <ion-item *ngFor="let report of reportsList | async" (click)="openReport(report)">
    <ion-thumbnail item-start>
      <img src="{{ report.imageUrl || 'assets/img/road.png' }}" alt="No image"/>
    </ion-thumbnail>
    <h2>{{report.title}}</h2>
    <p>{{report.description}}</p>
  </ion-item>
</ion-list>