<div *ngIf="userProfile">
  <ion-card>
    <img src="{{ userProfile.avatar || 'assets/img/profile-placeholder.png' }}" alt="No avatar"/>
    <ion-card-content>
      <ion-item>
        <ion-label floating>Name</ion-label>
        <ion-input [value]="userProfile.name" [readonly]="true"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Surname</ion-label>
        <ion-input [value]="userProfile.surname" [readonly]="true"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input [value]="userProfile.email" [readonly]="true"></ion-input>
      </ion-item>

    </ion-card-content>
    <ion-item>
      <ion-buttons right>
        <button ion-button color="primary" clear small icon-start (click)="goToEditProfilePage()">
        <ion-icon name="create"></ion-icon>
        Edit
      </button>
      </ion-buttons>
    </ion-item>
  </ion-card>
</div>