<!--
  Generated template for the ReportPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{report?.title}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-card>
    <img src="{{ report?.imageUrl || 'assets/img/road.png' }}" alt="No image"/>
    <ion-card-content>
      <ion-item>
        <ion-label floating>Description</ion-label>
        <ion-input [value]="report?.description" [readonly]="true"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Category</ion-label>
        <ion-input [value]="report?.category" [readonly]="true"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Date</ion-label>
        <ion-input [value]="report?.date" [readonly]="true"></ion-input>
      </ion-item>

    </ion-card-content>
  </ion-card>
  <ion-list>
    <ion-item *ngFor="let update of reportUpdates | async">
      <ion-thumbnail item-start>
        <img src="{{ report?.imageUrl || 'assets/img/road.png' }}" alt="No image"/>
      </ion-thumbnail>
      <h2>{{report?.user}}</h2>
      <p>{{update.message}}</p>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <send-update (postUpdate)="post($event)"></send-update>
  </ion-toolbar>
</ion-footer>