<!--
  Generated template for the EditProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>EditProfile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <edit-profile-form (saveProfileResult)="saveProfileResult($event)"></edit-profile-form>
</ion-content>
