<form #registerForm="ngForm" novalidate>
<ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label floating>Email Address</ion-label>
        <ion-input
        [(ngModel)]="account.email"
        type="email"
        name="email"
        #email="ngModel"
        required
        pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
        ></ion-input>
      </ion-item>

      <div padding *ngIf="email.invalid && email.dirty">
        <span>Email address is not valid</span>
      </div>

      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input
        [(ngModel)]="account.password"
        type="password"
        name="password"
        #password="ngModel"
        required
        pattern="(?=^.{6,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" ></ion-input>
      </ion-item>

      <div padding *ngIf="password.invalid && password.dirty">
        <span>Password must be at least 6 characters long and contain at least 1 uppercase letter</span>
      </div>

    </ion-card-content>

  <ion-row>
    <button ion-button small class="button button-clear button-positive" (click)="register('RegisterPage')" [disabled]="registerForm.invalid">Register</button>
  </ion-row>
</ion-card>
</form>