<ion-card>

  <img src="{{ report?.imageUrl || 'assets/img/road.png' }}" alt="No image" />

  <ion-card-content>
    <ion-item>
      <ion-label>Please choose the report photo</ion-label>
    </ion-item>

    <ion-item>
      <input type="file" (change)="getFileSelected($event)">
    </ion-item>

    <ion-item>
      <ion-label floating>Title</ion-label>
      <ion-input [(ngModel)]="report.title" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Category</ion-label>
      <ion-input [(ngModel)]="report.category" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Description</ion-label>
      <ion-textarea [(ngModel)]="report.description" type="text"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label floating>Location</ion-label>
      <ion-input [(ngModel)]="report.location" type="text"></ion-input>
    </ion-item>

  </ion-card-content>
  <ion-item>
    <ion-buttons right>
      <button ion-button color="primary" clear small icon-start (click)="createReport()">
        <ion-icon name="send"></ion-icon>
        Create
      </button>
    </ion-buttons>
  </ion-item>
</ion-card>