<!--
  Generated template for the ReportsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>

    <ion-title>Reports</ion-title>

    <ion-buttons left>
      <button ion-button icon-only (click)="goToProfilePage()">
      <ion-icon name="contact"></ion-icon>
    </button>
    </ion-buttons>

    <ion-buttons right>
      <button ion-button icon-only (click)="goToNewReportPage()">
      <ion-icon name="add"></ion-icon>
    </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-searchbar></ion-searchbar>
  <reports></reports>
</ion-content>