<ion-grid>
  <ion-row>
    <ion-col col-9>
      <ion-textarea [(ngModel)]="update.message" placeholder="Please write your update here"></ion-textarea>
    </ion-col>
    <ion-col col-3>
      <button clear ion-button (click)="post()">Post</button>
    </ion-col>
  </ion-row>
</ion-grid>
